{
	"extends": [
		"stylelint-config-standard"
	],
	"plugins": [
		"stylelint-no-unsupported-browser-features",
		"stylelint-order"
	],
	"rules": {
		"plugin/no-unsupported-browser-features": [true, {
			"severity": "warning"
		}],
		"order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true,
		"declaration-colon-newline-after": null,
		"indentation": "tab",
		"no-eol-whitespace": [
			true,
			{
				"ignore": [
					"empty-lines"
				]
			}
		],
		"no-descending-specificity": null,
		"no-duplicate-selectors": null,
		"no-missing-end-of-source-newline": null
	},
	"syntax": "css-in-js"
}
