{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-idiomatic-order"
  ],
  "ignoreFiles": [
    "node_modules"
  ],
  "plugins": [
		"stylelint-order"
	],
  "rules": {
    "order/order": [
			"custom-properties",
			"declarations"
		],
    "indentation": "tab",
    "no-eol-whitespace": [
      true,
      "ignore": ["empty-lines"]
    ],
    "no-missing-end-of-source-newline": null
  }
}
