{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "node_modules"
  ],
  "plugins": [
		"stylelint-order"
	],
  "rules": {
    "order/order": [
			"custom-properties",
			"declarations"
		],
    "order/properties-alphabetical-order": true,
    "indentation": "tab"
  }
}
